#experience{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainContainer {
  padding: 1rem;
  background-color:#020012;
  border: 2px solid #21d49e;
  width: 25rem;
  border-radius: 10px;
  margin:1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #21d49e;
  margin-top: 1rem;
  width: 75%;
  height:4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.spa {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color:#fff;
}

.para{
  line-height: 1.3;
}

@media screen and (max-width: 450px) {
  .para{
    font-size: 1.2rem;
  }
}


.content{
  margin-top: 1rem;
  padding: 1.7rem;
  width: 100%;
  height: auto;
}
li{
  list-style-type:circle;
  color: #e5fbf4;
  font-size: 1rem;
  
}