.icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  /* position: absolute; */
  left: 2rem;
  bottom: 4rem;
  z-index: 100;

}

/* .icons ::after{
    content: "";
    width: 1px;
    height: 2rem;
    /* background: white; */
 

.icons a{
   
   font-size: 1.8rem;
   color: #fff;
   border-radius: 5px;

}

.icons a:hover{
    transition: all 0.3s ease-in;
    transform: scale(1.2);
    color: #20c997;
}
/* 
.bar{
    position: fixed;
    width: 4px;
    background: white;
    height: 4rem;
    margin-top: 1rem;
    left: 3rem;
    bottom: 0.2rem;
    gap: 0.8rem;
} */



@media screen and (max-width:640px) {
    .icons a {
        display: none;
        /* left: 2rem;
        bottom: 8rem;
        position: absolute;
        z-index: -1; */
    }
   

    
}
